body, main, div, aside{
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}
body{
    /* background-color:mediumpurple; */
    background-image: linear-gradient(to bottom, darkorchid, mediumorchid, orchid);
    height: calc(100vh - 30px);

}
#greeting{
    grid-area: greeting;
    display: flex;
    justify-content: center;
    align-content: center;
}
#middle{
    grid-area: time;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#time{
    display: block;
    font-weight: Bold;
    font-size: 2em;
    margin: auto;

}
#coordinate-button{
    display: block;
    width: 100px;
    margin: auto auto;
}
#my-coordinates{
    display: block;
    height: 20px;
    margin: 8px auto;
}
#date{
    grid-area: date;
    display: flex;
    justify-content: center;
    align-content: center;
}
h4{
    margin-top: 5px;
}
h3{
    margin:auto;
}
/* #calc-cont{
    display: flex;
    justify-content: center;
    align-content: center;
} */
#calculator{
    grid-area: calculator;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 20% auto 5px;
}

#todo{
    grid-area: todo;
}

#ultodo{
    list-style-type: none;
    width: 200px;
}
li{
    padding: 4px;
}
#ultodo li{
    background-color: #fff;
    color: #000;
}

/* label > input[checked="checked"] {
    text-decoration: line-through;
} */
#screen{
    background-color: white;
    height: 70%;
    width: 254px;
}

#button-container{
    display: flex;
    width: 252px;
    /* width: 100%; */
    flex-wrap: wrap;
    
}
button.small{
    width: 63px;
    height: 40px;
    margin: none;
    font-size: 20px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.3);
    text-align: center;
    border-color: black gray red;
    letter-spacing: 2px;
    font-weight: bold;
}
.container{
    display: grid;
    min-width: 320px;
    grid-template-columns: 100%;
    grid-template-rows: 40px 160px 40px 200px 340px;
    grid-template-areas:
    "greeting"
    "time"
    "date"
    "todo"
    "calculator"
}
/* Tablet size */
@media (min-width: 594px) {
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px auto 340px;
        grid-template-areas:
        "greeting greeting"
        "time date"
        "calculator todo"
        
    }

#time{
    font-weight: Bold;
    font-size: 4em;
    margin: auto;
}
}

/* Desktop size */
@media (min-width: 786px) {
    .container{
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-rows: 100px 240px 25% 25%;
        grid-template-areas:
        "greeting calculator"
        "time calculator"
        "time todo"
        "date todo"
    }
body{
    background-image: linear-gradient(to right, darkorchid, mediumorchid, orchid);
}
#time{
    font-weight: Bold;
    font-size: 4em;
    margin: auto;

}
}