body, main, div, aside{
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}
body{
    /* background-color:mediumpurple; */
    background-image: linear-gradient(to bottom, darkorchid, mediumorchid, orchid);
    height: calc(100vh - 30px);

}
#greeting{
    grid-area: greeting;
    display: flex;
    justify-content: center;
    align-content: center;
}
#middle{
    grid-area: time;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#time{
    display: block;
    font-weight: Bold;
    font-size: 2em;
    margin: auto;

}
#coordinate-button{
    display: block;
    width: 100px;
    margin: auto auto;
}
#my-coordinates{
    display: block;
    height: 20px;
    margin: 8px auto;
}
#diceTable{
    grid-area: diceTable;
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center; */
}
h4{
    margin-top: 5px;
}
h3{
    margin:auto;
}
#diceButtons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#dice {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#dice div {
    height: 15px;
    width: 15px;
    margin: auto;
    color: white;
    border: 0px;
}
#four {
    background-color: blueviolet;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    padding: 15px 15px 5px 15px;
}
#six {
    background-color: blue;
    padding: 10px;
}
#eight {
    background-color: green;
    padding: 10px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    padding: 15px 15px 5px 15px;
}
#ten {
    background-color: darkred;
    padding: 10px;
    clip-path: polygon(50% 0%, 88% 73%, 50% 100%, 12% 73%);

}
#twelve{
    background-color: orangered;
    padding: 10px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
#twenty {
    background-color: teal;
    padding: 10px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    padding: 15px 15px 5px 15px;
}

#todo{
    grid-area: todo;
}

#ultodo{
    list-style-type: none;
    width: 200px;
}
li{
    padding: 4px;
}
#ultodo li{
    background-color: #fff;
    color: #000;
}
#itemField {
    
}
/* calculator */
#calculator{
    grid-area: calculator;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 20% auto 5px;
}
.calculator-screen{
    background-color: black;
    height: 36px;
    width: 254px;
    color: white;
    font-size: 18px;
    text-align: right;
    margin-left:10px;
}

.button-container{
    display: flex;
    width: 256px;
    /* width: 100%; */
    flex-wrap: wrap;
    
}
button.small{
    width: 63px;
    height: 40px;
    margin: none;
    font-size: 20px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.3);
    text-align: center;
    border-color: black gray red ;
    letter-spacing: 2px;
    font-weight: bold;
}
.container{
    display: grid;
    min-width: 320px;
    grid-template-columns: 100%;
    grid-template-rows: 40px 160px 140px 200px 340px;
    grid-template-areas:
    "greeting"
    "time"
    "diceTable"
    "todo"
    "calculator"
}
/* Tablet size */
@media (min-width: 594px) {
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px auto 340px;
        grid-template-areas:
        "greeting greeting"
        "time diceTable"
        "calculator todo"
        
    }

#time{
    font-weight: Bold;
    font-size: 4em;
    margin: auto;
}
}

/* Desktop size */
@media (min-width: 786px) {
    .container{
        display: grid;
        grid-template-columns: auto 320px;
        grid-template-rows: 100px 240px 25% 25%;
        grid-template-areas:
        "greeting calculator"
        "time calculator"
        "time todo"
        "diceTable todo"
    }
body{
    background-image: linear-gradient(to right, darkorchid, mediumorchid, orchid);
}
#time{
    font-weight: Bold;
    font-size: 4em;
    margin: auto;

}
}