body{
    background-color: darkgray;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
}

main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
div{
    border: 1px solid black;
}
h3{
    margin: auto;
}
#formcontainer{
    text-align:center;
}
form.grid-container{
    display: grid;
    grid-template-columns: 100%;
    /* margin-left: 15%; */
}
.button{
    width:80px;
    height: 30px;
    background-color: rgb(0, 0, 0, 0);
    border-color: green blue;
    border-radius: 10px;
    
}
#state-menu{
    height:30px;
    width: 80px;
}
/* Desktop display */
@media (min-width: 590px){
body{
    background-color: lightgray;

}
header{

}
main{
        display: grid;
    grid-template-columns: auto 280px;
}
#sitecontainer{
    grid-column: 1/ 2;
}
#formcontainer{
    grid-column: 2/ 3;
}

}