header, div, aside, p, section, footer{
    border: 1px solid black;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
body{
    background-color: gray;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer"
}
header{
    /* colors for troubleshooting layout */
    background-color: wheat;
    grid-area: header;
}
aside{
    background-color: gold;
    grid-area: aside;
}
main{
    background-color:rosybrown;
    grid-area: main;
}
section{
    background-color:yellow;
    margin: 1%;
    
}
footer{
    grid-area: footer;
    background-color:orange;
    margin: 10px;
}