header, div, aside, p, section{
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
header{
    background-color: wheat;
}
body{
    background-color: gray;
}
aside{
    float: right;
    background-color: gold;
    margin: 5%, auto;
    padding: 5%, auto;
    
}